body {
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Verdana', sans-serif;
    margin: 0;
    background-color: rgb(189, 212, 207);

}

header {
    background-image: url('images/florence.jpg');
    background-size: cover;
    padding: 10px 20px;
    width: 100%;
    min-height: 425px;
}

nav {
    background-image: url('images/logo.png');
    background-size: 70px;
    padding: 10px 30px;
    background-repeat: no-repeat;
}

nav ul {
    display: flex;
    list-style: none;
    size: 24px;
    font-weight: bold;
    list-style-type: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #51279B;
}

#info {
    margin: 80px;
    color: white;
}

#info h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

#info p {
    font-size: 24px;
    margin-bottom: 10px;
}

#info button {
    background-color: #51279B;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 50px;

}

.destinations-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 20px;
}

.card-image {
    max-height: 300px;
    width: 100%;
}

.hidden-info {
    display: none;
}

.card {
    background-color: #f0f0f0;
    position: relative;
}

.social-stats {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
}

.card p {
    margin-bottom: 50px;
    font-size: 12px;
}

.social-stats img,
.social-stats span {
    display: inline;
    vertical-align: middle;
}

.social-stats img {
    width: 14px;
    height: 14px;
    margin-right: 1px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.card h4 {
    margin-top: 10px;
    margin-left: 5px;
}

.card p {
    margin-top: 5px;
    margin-left: 5px;
}