body {
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Verdana', sans-serif;
    margin: 0;

}

header {
    background-image: url('images/florence.jpg');
    background-size: cover;
    padding: 10px 20px;
    width: 100%;
}

nav {
    background-image: url('images/logo.png');
    background-size: 70px;
    padding: 10px 20px;
    background-repeat: no-repeat;
}

nav ul {
    display: flex;
    list-style: none;
    size: 24px;
    font-weight: bold;
    list-style-type: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #51279B;
}

#info {
    margin: 100px;
    color: white;
}

#info h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

#info p {
    font-size: 24px;
    margin-bottom: 10px;
}

#info button {
    background-color: #51279B;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;

}

.destinations-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 20px;
}

.card-image {
    width: 100%;
}

.hidden-info {
    display: none;
}

.card {
    border: 1px solid red;
    background-color: #f0f0f0;
}