body {
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Verdana', sans-serif;
}

header {
    background-image: url('images/florence.jpg');
    background-size: cover;
    padding: 10px 20px;
    width: 100%;
    min-height: 500px;
}

nav {
    background-image: url('images/logo.png');
    background-size: 60px;
    padding: 10px 20px;
    background-repeat: no-repeat;
}

nav ul {
    display: flex;
    list-style: none;
    size: 24px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #51279B;
}

#info {
    margin: 100px;
    color: white;
}

#info h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

#info p {
    font-size: 24px;
    margin-bottom: 10px;
}

#info button {
    background-color: #51279B;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.card {
    display: inline-block;
    width: 300px;
    margin: 15px;
    /* Spacing between cards */
    padding: 20px;
}